ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    color: #555;
}

a {
    text-decoration: none;
    margin-right: 15px;
}

a:hover {
    text-decoration: underline;
}
