/* General Styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
  color: #555;
}

a {
  text-decoration: none;
  margin-right: 15px;
}

a:hover {
  text-decoration: underline;
}

/* Product Item Styles */
.productItem {
  list-style: none;
  margin: 20px;
}

.productContainer {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 15px;
  background-color: #f9f9f9;
}

.productTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.productImage {
  border-radius: 15px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.productLink a {
  color: blueviolet;
  font-weight: bold;
  text-decoration: none;
}

/* Product Item (Detailed) */
.product-item {
  list-style: none;
  margin: 20px;
}

.product-item__content {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 20px;
}

.product-item__image {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.product-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item__info {
  flex-grow: 1;
  padding-left: 20px;
}

.product-item__info h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-item__info h3 {
  font-size: 1.2rem;
  color: gray;
}

.product-item__info p {
  font-size: 1rem;
  margin-top: 10px;
}
